*
{
	margin: 0;
	padding: 0;
	font-family: cursive;
}
#slider
{
	margin: 0 auto;
	margin-top: 100px;
	width: 800px;
	max-width: 100%;
	text-align: center;
}
#slider input[type=radio]
{
	display: none;
}
#slider label
{
	cursor: pointer;
	text-decoration: none;
}
#slides
{
	padding: 30px;
	border: 3px solid #ccc;
	background: #fff;
	position: relative;
	z-index: 1;
}
#overflow
{
	width: 100%;
	overflow: hidden;
}
#slide1:checked ~ #slides .inner
{
	margin-left: 0;
}
#slide2:checked ~ #slides .inner
{
	margin-left: -100%;
}
#slide3:checked ~ #slides .inner
{
	margin-left: -200%;
}
#slide4:checked ~ #slides .inner
{
	margin-left: -300%;
}
#slider .inner
{
	transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	width: 400%;
	line-height: 0;
	height:  300px;
}
#slides .slide
{
	width: 25%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #fff;
}
#slides .slide_1
{
	background: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg);
}
#slides .slide_2
{
	background: url(https://cdn.pixabay.com/photo/2014/02/27/16/10/tree-276014_1280.jpg);
}
#slides .slide_3
{
	background: url(https://cdn.pixabay.com/photo/2015/10/12/14/59/milky-way-984050_1280.jpg);
}
#slides .slide_4
{
	background: url(https://cdn.pixabay.com/photo/2015/01/28/23/34/mountains-615428_1280.jpg);
}
#slide-content
{
	padding: 10px;
}
#controls
{
	margin: -210px 0 0 0;
	width: 100%;
	height: 50px;
	z-index: 3;
	position: relative;
}
#controls label
{
	transition: opacity 0.2s ease-in-out;
	display: none;
	width: 50px;
	height: 50px;
	opacity: .4;
}
#controls label:hover
{
	opacity: 1;
}
#slide1:checked ~ #controls
{
	opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1)
{
	background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
	float: right;
	margin: 0 -50px 0 0;
	display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1)
{
	background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
	float: left;
	margin: 0 0 0 -50px;
	display: block;
}
#bullets
{
	margin:  180px 0 0;
	text-align: center;
}
#bullets label
{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #ccc;
	margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4)
{
	background: #444;
}
@media screen and (max-width: 990px)
{
#slide1:checked ~ #controls label:nth-child(1),
#slide2:checked ~ #controls label:nth-child(2),
#slide3:checked ~ #controls label:nth-child(3),
#slide4:checked ~ #controls label:nth-child(4),
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4)
{
	margin: 0;
}
}